html {
    background-color: ghostwhite;
}


header {
    background-color: ghostwhite;
    text-align: center; 
    font-family: 'Adobe Garamond Pro', serif;
    font-weight: bold;
    font-size: 25pt
}

nav {
    background-color: ghostwhite;
    font-family:'Akzidenz-Grotesk Std', sans-serif;
    text-align: center; 
    padding: 20px;
    font-weight: 500;
    word-spacing: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

body {
    background-color: lavender;
    min-width: 600px;
    max-width: 900px;
    margin: auto;

}

div.hithere {
    padding: 20px;
    text-align: center;
    font-family:'Akzidenz-Grotesk Std', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

aside {
    float: left;
    margin-top: 5px;
    margin-left: 4.5%;
    margin-bottom: 10px;
    width: 55%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightsteelblue;
    font-family:'Akzidenz-Grotesk Std', sans-serif;
}

section {
    float: right;
    margin-top: 5px;
    margin-right: 4.5%;
    width: auto;
    padding: 20px;
    background-color: lightsteelblue;
}

iframe {
    float: left;
    margin-left: 150px;
}

.gallery figure {
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 200px;
    width: 31%;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.thumbnail img {
    max-height: auto;
    max-width: 200px;
    height: auto;
    padding: 1px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    overflow: hidden;
}

div.space {
    font-size: 3pt
}


article {
    background-color: lightsteelblue; 
    min-height: 100px;
    overflow: hidden;
    padding: 25px;
    padding: 10px;
    font-family:'Akzidenz-Grotesk Std', sans-serif;
}


footer {
    background-color: lavender;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family:'Akzidenz-Grotesk Std', sans-serif;
    clear: both;
}
